/* ===================================== */
/* ============== LOGO ================= */
/* ===================================== */

.tetris-style{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:6px;

    -webkit-user-select:none;
    user-select:none;

}

/* ===================================== */
/* LETTER */
/* ===================================== */

.tetris-style span{

    display:inline-block;

    transition:.25s;

    text-shadow:
        0 0 5px rgba(255,255,255,.4),
        0 0 10px rgba(255,255,255,.2);

}

/* ===================================== */
/* COLORS */
/* ===================================== */

.tetris-style span:nth-child(1){

    color:#29adff;

}

.tetris-style span:nth-child(2){

    color:#ffd500;

}

.tetris-style span:nth-child(3){

    color:#c44cff;

}

.tetris-style span:nth-child(4){

    color:#61ff37;

}

.tetris-style span:nth-child(5){

    color:#ff4343;

}

.tetris-style span:nth-child(6){

    color:#ff8f00;

}

/* ===================================== */
/* HOVER */
/* ===================================== */

.tetris-style:hover span{

    transform:
        translateY(-3px);

}

/* ===================================== */
/* INDIVIDUAL GLOW */
/* ===================================== */

.tetris-style span:nth-child(1){

    text-shadow:
        0 0 10px #29adff,
        0 0 20px #29adff;

}

.tetris-style span:nth-child(2){

    text-shadow:
        0 0 10px #ffd500,
        0 0 20px #ffd500;

}

.tetris-style span:nth-child(3){

    text-shadow:
        0 0 10px #c44cff,
        0 0 20px #c44cff;

}

.tetris-style span:nth-child(4){

    text-shadow:
        0 0 10px #61ff37,
        0 0 20px #61ff37;

}

.tetris-style span:nth-child(5){

    text-shadow:
        0 0 10px #ff4343,
        0 0 20px #ff4343;

}

.tetris-style span:nth-child(6){

    text-shadow:
        0 0 10px #ff8f00,
        0 0 20px #ff8f00;

}